.about{
    background-color: white;
    position: relative;
}

.about-me-content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.about-me-content span{
    color: black;
    margin-left: 6%;
    letter-spacing: -2px;
}

.about-me-content h2{
    margin-left: 6%;
    margin-top: 2%;
    color: rgb(255, 0, 115);
}

.about-me-content p{
    margin-top: 3%;
    margin-left: 6%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 28px;
    text-align: justify;
}

.btn-about-me{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.btn-about-me a{
    background-color: white;
    padding: 7px;
    border: 1px solid rgb(255, 0, 115);
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
    width: 80vh;
    height: auto;
    cursor: pointer;
    transition: width 1s;
    transition: 0.8s linear;
}

.btn-about-me a:hover,
.btn-about-me a:focus,
.btn-about-me a:hover{
    width: 150vh;
    background-color: rgb(255, 0, 115);
    color: white;
}

.btn-about-me-download-cv{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 540;
    letter-spacing: 1px;
    word-spacing: 3px;
}



