.contact{
    background-color: black;
}

.contact-title{
    padding: 10% 10% 5% 10%;
}

.contact-title h4{
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 18px;
    padding: 10px;
}

.contact-content{
    padding: 0;
}

.contact-content-box{
    padding: 5% 10% 5% 15%;
}

.contact-content-box h1{
    font-size: 100px;
}

.contact-content-box h1 a{
    color: rgb(225, 0, 115);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 100;
    text-decoration: 0.1px underline;
    text-underline-position: under;
    text-underline-offset: 1.5px;
    text-decoration-color: rgb(73, 73, 73); 
}

.contact-content-box h1:hover a{
    text-decoration-color: white;
}

.contact-content-box p{
    color: white;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding: 70px 30px 30px 0px;
    line-height: 50px;
}

.contact-content-box p a{
    color: rgb(225, 0, 115);
    text-decoration: 0.1px underline;
    text-underline-position: under;
    text-underline-offset: 1.5px; 
    text-decoration-color: rgb(73, 73, 73); 
}

.contact-content-box p a:hover{
    text-decoration-color: white;
}

.contact-info{
    padding: 5% 10% 5% 15%;
}

.contact-info-box{
    display: grid;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-column-gap: 6%;
}

.contact-info p{
    color: rgb(182, 182, 182);
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 50;
}

.contact-info-box a{
    color: white;
    text-decoration: none;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 6% 0 5% 0;
}

.copyright{
    text-align: center;
    padding: 20px;
    border-top: 0.1px solid rgb(73, 73, 73);
}

.copyright p{
    color: rgb(182, 182, 182);
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.copyright p a{
    color: rgb(225, 0, 115);
    text-decoration: 0.1px underline;
    text-underline-position: under;
    text-underline-offset: 1.5px; 
    text-decoration-color: rgb(73, 73, 73);
}

.copyright p a:hover,
.copyright p a:focus,
.copyright p a:active{
    text-decoration-color: white;
}