*{
    margin: 0;
    padding: 0;
}

body{
   background-color: white;
}

.header{
    margin: 0;
    padding: 10px;
    padding-top: 15px;
    height: 50px;
    justify-content: center;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-nav{
    display: flex;
    justify-content: center;
}

.nav-menu{
    display: inline-flex;
}

.nav-list{
    display: flex;
    margin: 3mm;
}

.nav-list li{
    text-align: center;
    float: left;
    display: block;
}

.nav-list-title{
    padding: 3mm;
    text-decoration: none;
    font-style: inherit;
    font-size: 15px;
    color: rgb(182, 182, 182);
    font-weight: 800;
}
