
.intro{
    margin: 0;
    padding: 10%;
    justify-content: center;
    background-image: url("/img/intro-background-img-2.jpg");
    background-size: cover;
    
}

.fresher-tag{
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-left: 6%;
    height: 25px;
    width: 100px;
    border-radius: 3px;
    background-color: rgb(51, 255, 0);
}

.tag-text{
    font-size: 18px;
    text-align: center;
    padding: 3px;
}

.intro-content{
    margin-top: 1%;
    margin-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.intro-text{
    color: white;
}

.intro-text h1{
    padding: 10px;
    font-size: 55px;
    color: rgb(255, 0, 115);
    font-style: oblique;
}

.intro-text h3{
    padding: 10px;
    font-style: italic;
    font-size: 30px;
}

.btn-more-about-me{
    margin: 6%;
    margin-top: 8%;
}

.more-about-me{
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 14px;
    font-style: italic;
}

.more-about-me:hover{
    color: rgb(255, 0, 115);
    font-weight: bold;
}

.more-about-me span{
    margin-left: 10px;
    color: rgb(255, 0, 115);
}


