.services{
    background-image: url("/img/services-background-img.jpg");
    background-size: cover;
    justify-content: center;
}

.services-title{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
}

.services-text{
    padding: 10% 15% 10% 15%;
    text-align: center;
}

.services-text h4{
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 10px;
}

.services-text span{
    color: rgb(225, 0, 115);
    padding: 10px;
    letter-spacing: -2px;
}

.services-text h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    padding: 80px 5px 80px 5px;
}

.services-content{
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
    border-top: 0.1px solid rgb(73, 73, 73);
    display: grid;
    grid-template-columns: 50vh 50vh 50vh;
    grid-column-gap: 3%;
}

.services-content-text{
    margin: 0;
}

.services-content h1{
    color: rgb(225, 0, 115);
    font-size: 70px;
    font-weight: 100;
    padding: 30% 1% 1% 5%;
    letter-spacing: 2px;
}

.services-content h2{
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding: 5% 1% 1% 5%;
    letter-spacing: 2px;
}

.services-content p{
    color: rgb(182, 182, 182);
    padding: 1% 1% 5% 5%;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: justify;
}


