.work{
    background-color: white;
    display: flex;
    padding: 0 10% 5% 10%;
}

.work-title{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: white;
}

.work-title-text{
    margin: 0;
}

.work-title-text span{
    color: black;
    margin-left: 6%;
    letter-spacing: -2px;
}

.work-title-text h2{
    color: rgb(255, 0, 115);
    margin-left: 6%;
    margin-top: 2%;
}

.work-content{
    display: flex;
    margin-top: 4%;
    margin-left: 6%;
    display: grid;
    grid-template-columns: 157vh;
    grid-column-gap: 6%;
}

.work-text{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;   
    padding: 20px;
    width: auto;
    box-shadow: 8px 8px 15px black;
}

.work-text:hover{
    border: 2px solid rgb(255, 0, 115);
    transform: translateY(-15px);
    box-shadow: 8px 8px 15px rgb(167, 0, 75);
}

.work-text h5{
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px;
}

.work-text h1{
    font-size: 30px;
    padding: 15px 10px 5px 10px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    color: rgb(255, 0, 115);
}

.work-text h3{
    font-size: 18px;
    color: rgb(102, 102, 102);
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: justify;
    padding: 5px 10px 15px 10px;
}

.work-text h3 span{
    color: rgb(255, 0, 115);
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: -1.5px;
}

.work-text p{
    font-size: 16px;
    padding: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
}


