*{
    margin: 0;
}

body{
    background-color: transparent;
}

.code-project{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    border: 0.2px solid white;
    box-shadow: 2px 2px 10px black;
}

.code-content{
    margin-top: 0;
    margin-left: 3.5%;
    margin-right: 10%;

    padding: 40px 40px 5px 40px;
    text-align: center;
    display: inline-block;
    justify-content: center;
}

.code-project h2{
    padding: 5px;  
    height: 30px;
    width: 98.9%;
    background-color: rgb(50, 50, 50);
    border-radius: 15px 15px 0px 0px;
}

.code-project h2 a{
    font-size: 15px;
    font-weight: 100;
    color: white;
    float: right;
    background-color: red;
    padding: 2.5px 7px 2.5px 7px;
    border-radius: 6px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}


.content-img{
    width: auto !important;
    padding: 10px;
    cursor: pointer;
}

.mySlides{
    height: 60vh;
}

.code-section{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.img-box{
    padding: 10px;
    display: grid;
    grid-template-rows: 2vh 2vh 2vh 2vh;
    column-gap: 5px;
}

.img-ss{
    height: 6vh;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.img-ss:hover{
    opacity: 1;
}
